body
 {
    background-color: lightgray;
    font-family: Arial, sans-serif;
  }
  h1 {
    color: rgb(58, 0, 139);
    text-align: center;
  }
  p {
    color: darkgreen;
    text-align: center;
  }